.help-email{
    color: red;
    display: none;
}
.help-login{
    color: red;
    display: none;
}
.help-password{
    color: red;
    display: none;
}
.help-name{
    color: red;
    display: none;
}
.help-age{
    color: red;
    display: none;
}
.error{
    display: inline !important;
}

.top-menu{
    background:#daf2fe;
}
.top-menu ul{
    padding-left:0;
    margin-bottom:0;
}
.top-menu li{
    display:inline-block;
    margin-left:10px;
    padding:3px 10px;
}

.error-room{
    border-color: red;
}

.hide{
    display: none;
}